<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Infinity War</title>
    <link rel="stylesheet" type="text/css" href="../MyLib/stylesheetsFolder/MyLoginPage.css">
</head>
<body>
    <div id="name" style="text-align: center"></div>
    <div id="score" style="text-align: center"></div>
    <div id="health" style="text-align: center"></div>
    <div id="level" style="text-align: center"></div>
    <canvas height="480" width="640" id="canvas" style="margin-left: 530px;">Update sm</canvas>
    <script src="../MyLib/js/InitValues.js"></script>
    <script src="../MyLib/js/physicsManager.js"></script>
    <script src="../MyLib/js/eventListener.js"></script>
    <script src="../MyLib/js/audioManager.js"></script>
    <script src="../MyLib/js/cutTiles.js"></script>
    <script src="../MyLib/js/mapManager.js"></script>
    <script src="../MyLib/js/gameEngine.js"></script>
</body>

</html>